version: "3.8"

services:
  # 1. Database
  mongodb:
    image: mongo:6.0
    container_name: linkedin_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_net
    healthcheck:
      # We must provide credentials here, otherwise Mongo rejects the ping
      test:
        [
          "CMD",
          "mongosh",
          "admin",
          "-u",
          "${MONGO_ROOT_USER}",
          "-p",
          "${MONGO_ROOT_PASSWORD}",
          "--quiet",
          "--eval",
          "db.adminCommand('ping')",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  # 2. Node.js API
  backend:
    image: maheshdiwan/linkedin-backend:latest
    container_name: linkedin_api
    restart: always
    env_file:
      - .env
    environment:
      MONGO_URI: mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@mongodb:27017/${MONGO_DB_NAME}?authSource=admin
      JWT_SECRET: ${JWT_SECRET}
      CLIENT_URL: http://54.163.6.131
      NODE_ENV: production
      PORT: 5000
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - backend_net
      - frontend_net
    healthcheck:
      # Since there is no /health route, we check if the port is accepting connections
      test:
        [
          "CMD-SHELL",
          'node -e ''require("http").get("http://localhost:5000/metrics", (res) => res.statusCode === 200 ? process.exit(0) : process.exit(1))''',
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s

  # 3. React + Nginx
  frontend:
    image: maheshdiwan/linkedin-frontend:latest
    container_name: linkedin_ui
    restart: always
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - frontend_net

  # 4. Prometheus
  prometheus:
    image: prom/prometheus:v2.48.0
    container_name: linkedin_prometheus
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - backend_net
      - frontend_net

  # 5. Grafana
  grafana:
    image: grafana/grafana:10.2.0
    container_name: linkedin_grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - backend_net
      - frontend_net

  # 6. cAdvisor
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: linkedin_cadvisor
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - backend_net

networks:
  frontend_net:
  backend_net:

volumes:
  mongo_data:
  grafana_data:
